version: '3.9'

networks:
  dev-env_emsnetwork:
    external: true

services:
  react-app:
    build:
      context: src/front-end/react-client-app
      dockerfile: Dockerfile
    networks:
      dev-env_emsnetwork:
        ipv4_address: 10.20.10.200
    ports:
      - "3001:80"
  
  apigateway:
    image: ${DOCKER_REGISTRY-}apigateway
    build:
      context: .
      dockerfile: src/back-end/gateways/ApiGateway/Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - identityservice
      - emailservice
      - userservice
      - taskservice
    networks:
      dev-env_emsnetwork:
        ipv4_address: 10.20.10.100
  
  identityservice:
    image: ${DOCKER_REGISTRY-}identityservice
    build:
      context: .
      dockerfile: src/back-end/microservices/IdentityService/Dockerfile

    networks:
      dev-env_emsnetwork:
        ipv4_address: 10.20.10.101

  emailservice:
    image: ${DOCKER_REGISTRY-}emailservice
    build:
      context: .
      dockerfile: src/back-end/microservices/EmailService/Dockerfile
    depends_on:
      - identityservice
    networks:
      dev-env_emsnetwork:
        ipv4_address: 10.20.10.102

  taskservice:
    image: ${DOCKER_REGISTRY-}taskservice
    build:
      context: .
      dockerfile: src/back-end/microservices/TaskService/Dockerfile
    depends_on:
      - identityservice
    networks:
      dev-env_emsnetwork:
        ipv4_address: 10.20.10.103
  
  userservice:
    image: ${DOCKER_REGISTRY-}userservice
    build:
      context: .
      dockerfile: src/back-end/microservices/UserService/Dockerfile
    depends_on:
      - identityservice
    networks:
      dev-env_emsnetwork:
        ipv4_address: 10.20.10.104