version: '3.9'

networks:
  ems-network:
    external: true

services:
  react-app:
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    image: ${DOCKER_REGISTRY-}react-app
    hostname: react-app
    build:
      context: .
      dockerfile: src/front-end/ReactApp/Dockerfile
    ports:
      - "3001:80"
    networks:
      ems-network:
        ipv4_address: 10.20.10.50

  api-gateway:
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    image: ${DOCKER_REGISTRY-}api-gateway
    hostname: api-gateway
    build:
      context: .
      dockerfile: src/back-end/gateways/ApiGateway/Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - identity-service
    networks:
      ems-network:
        ipv4_address: 10.20.10.100

  identity-service:
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    image: ${DOCKER_REGISTRY-}identity-service
    hostname: identity-service
    build:
      context: .
      dockerfile: src/back-end/microservices/IdentityService/Dockerfile
    depends_on:
      - users-service
      - tasks-service
    networks:
      ems-network:
        ipv4_address: 10.20.10.101

  tasks-service:
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    image: ${DOCKER_REGISTRY-}tasks-service
    build:
      context: .
      dockerfile: src/back-end/microservices/TaskService/Dockerfile
    networks:
      ems-network:
        ipv4_address: 10.20.10.103

  users-service:
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    image: ${DOCKER_REGISTRY-}users-service
    build:
      context: .
      dockerfile: src/back-end/microservices/UserService/Dockerfile
    networks:
      ems-network:
        ipv4_address: 10.20.10.104
