version: '3.9'

networks:
  emsnetwork:
    ipam:
      config:
        - subnet: 10.20.10.0/24
services:
  db:
    image: "mcr.microsoft.com/mssql/server"
    hostname: "db"
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: yourStrong(!)Password
    networks:
      emsnetwork:
        ipv4_address: 10.20.10.5
    ports:
      - "1500:1433"
  
  rabbitmq:
    image: rabbitmq:3-management
    networks:
      emsnetwork:
        ipv4_address: 10.20.10.6
    ports:
      - "5672:5672"
      - "15672:15672"

  mongo:
    image: mongo
    networks:
      emsnetwork:
        ipv4_address: 10.20.10.7
    ports:
      - "27017:27017"
  
  mongo-express:
    image: mongo-express
    networks:
      emsnetwork:
        ipv4_address: 10.20.10.8
    depends_on:
      - mongo
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://10.20.10.7:27017/
  
  react-app:
    build:
      context: src/front-end/react-client-app
      dockerfile: Dockerfile
    networks:
      emsnetwork:
        ipv4_address: 10.20.10.200
    ports:
      - "3001:80"
  
  apigateway:
    image: ${DOCKER_REGISTRY-}apigateway
    build:
      context: .
      dockerfile: src/back-end/gateways/ApiGateway/Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - identityservice
      - emailservice
      - userservice
      - taskservice
    networks:
      emsnetwork:
        ipv4_address: 10.20.10.100
  
  identityservice:
    image: ${DOCKER_REGISTRY-}identityservice
    build:
      context: .
      dockerfile: src/back-end/microservices/IdentityService/Dockerfile
    depends_on:
      - db
      - rabbitmq
    networks:
      emsnetwork:
        ipv4_address: 10.20.10.101

  emailservice:
    image: ${DOCKER_REGISTRY-}emailservice
    build:
      context: .
      dockerfile: src/back-end/microservices/EmailService/Dockerfile
    depends_on:
      - db
      - rabbitmq
    networks:
      emsnetwork:
        ipv4_address: 10.20.10.102

  taskservice:
    image: ${DOCKER_REGISTRY-}taskservice
    build:
      context: .
      dockerfile: src/back-end/microservices/TaskService/Dockerfile
    depends_on:
      - db
      - rabbitmq
    networks:
      emsnetwork:
        ipv4_address: 10.20.10.103
  
  userservice:
    image: ${DOCKER_REGISTRY-}userservice
    build:
      context: .
      dockerfile: src/back-end/microservices/UserService/Dockerfile
    depends_on:
      - db
      - rabbitmq
    networks:
      emsnetwork:
        ipv4_address: 10.20.10.104