.task-status{
    text-align: center;
    padding: 10px 2px 2px;
    border-bottom: solid 1px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.active-status{
    border-bottom-color: red;
}

.registered-status{
    border-bottom-color: orange;
}

.completed-status{
    border-bottom-color: green;
}

