version: '3.9'

networks:
  emsnetwork:
    ipam:
      config:
        - subnet: 10.20.10.0/24

services:  
  db:
    image: "mcr.microsoft.com/mssql/server"
    hostname: "db"
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: yourStrong(!)Password
    networks:
      emsnetwork:
        ipv4_address: 10.20.10.5
    ports:
      - "1433:1433"
  
  rabbitmq:
    image: rabbitmq:3-management-alpine
    networks:
      emsnetwork:
        ipv4_address: 10.20.10.6
    ports:
      - "5672:5672"
      - "15672:15672"

  mongo:
    image: mongo
    networks:
      emsnetwork:
        ipv4_address: 10.20.10.7
    ports:
      - "27017:27017"
  
  mongo-express:
    image: mongo-express
    networks:
      emsnetwork:
        ipv4_address: 10.20.10.8
    depends_on:
      - mongo
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://10.20.10.7:27017/
      
  redis:
    image: "redis"
    hostname: "redis"
    environment:
      ALLOW_EMPTY_PASSWROD: yes
      REDIS_REPLICATION_MODE: master
    networks:
      emsnetwork:
        ipv4_address: 10.20.10.9
    restart: always
    ports:
      - '6379:6379'